/* PreviousQuizes.css */
.previous-quizes {
	width: 100%;
	margin-bottom: 20px;
}

.previous-quizes h2 {
	margin-bottom: 10px;
	text-align: center;
}

.quiz-results-table {
	width: 100%;
	border-collapse: collapse;
}

.table-header,
.table-cell {
	padding: 10px;
	text-align: left;
	border-bottom: 1px solid #ddd;
}

.table-header {
	background-color: var(--accent-color);
	color: var(--primary-color);
	font-weight: bold;
}

.quiz-results-table tr {
	transition: all ease 0.3s;
}

.quiz-results-table tr:hover {
	background-color: var(--secondary-color);
	color: var(--primary-color);
}
