.question-wrapper {
	padding: 1em;
	margin: 1em;
}

.question {
	font-size: 2rem;
	text-align: center;
	color: var(--accent-color);
}

.answers {
	margin-top: 1em;
	display: flex;
	justify-content: center;
	align-items: center;
}

.answers::after {
	content: "";
	display: block;
	margin-top: 20px;
	border-bottom: 2px solid var(--primary-color);
}

.answer {
	margin: 0.25em;
}

.answer.correct {
	background-color: #c8e6c9;
	color: var(--primary-color);
}

.answer.wrong {
	background-color: #eb4556;
	color: var(--primary-color);
}

.answer.selected {
	background-color: var(--accent-color);
}

.answers button {
	background-color: var(--secondary-color);
	color: var(--primary-color);
	border: none;
	border-radius: 0.5em;
	font-size: 1.25em;
	padding: 0.25em 1em;
	transition: transform 0.3s ease;
	min-height: 200px;
}
